.img-fluid{
    background-image: url(./img/netflix-bg2.jpg);
}

.section-central{
    display: flex;
    flex-direction: column;
    width: 1026px;
    height: 553px;
    border-radius: 23px;
    background-color: black;
    opacity: 0.85;
    box-sizing: border-box;
}

.fonte-padrao{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.095em;
}

.resiliaflix-logo{
    width: 250px;
    height: 63px;
    border-bottom: 10px #E9E9E9 ;
}

.btns{
    color:white;
    text-decoration: none;
}

.btns:hover{
    color: yellow;
}