.avatar-user{
    width: 45px;
}

.link-resiliaflix{
    max-width: 175px;
}

.fas{
    font-size: 25px;
    color:lightgray;
}
.img-film{
    max-width: 200px;
    height: 280px;
}

.img-film:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

body{
   background-color: black; 
}

.navegacao{
    background-color: #2F2E2E;
}

.rodape{
    background-color: #2F2E2E
}

.botao-watchnow{
    background-color: #FAD100;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 20px;
    width: 132px;
}

.fonte-padrao{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.095em;
}

.link-user:hover{
    color:#FAD100;
}
